#css-sprite-condoBoard-badge
{
background:url('../images/Hobbies/css-sprite-combined.png') 0px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-condoBoard2
{
background:url('../images/Hobbies/css-sprite-combined.png') -150px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-cucumber
{
background:url('../images/Hobbies/css-sprite-combined.png') -300px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-harvest
{
background:url('../images/Hobbies/css-sprite-combined.png') -450px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-kale
{
background:url('../images/Hobbies/css-sprite-combined.png') -600px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-nasturtium
{
background:url('../images/Hobbies/css-sprite-combined.png') -750px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-pepper
{
background:url('../images/Hobbies/css-sprite-combined.png') -900px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-tomato
{
background:url('../images/Hobbies/css-sprite-combined.png') -1050px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-triathlon
{
background:url('../images/Hobbies/css-sprite-combined.png') -1200px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-winterClassic-01
{
background:url('../images/Hobbies/css-sprite-combined.png') -1350px -0px;
width:150px;height:150px;
display:inline-block;
}

#css-sprite-winterClassic-02
{
background:url('../images/Hobbies/css-sprite-combined.png') -1500px -0px;
width:150px;height:150px;
display:inline-block;
}

