/* #id .class */

* {
	/* Universal CSS reset */
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
	background: #FFFFFF;	
}

h1.banner {
	/*font-family: "Lucida Sans Unicode";*/
	font-family: "Helvetica";
	font-size: 2.5em;
	font-weight: lighter;
	color: #585858;

	margin-top: .8em;

	text-align: center;
}

h2 {
	font-size: 2em;
	font-weight: lighter;
	color: #000000;

	text-align: left;
}

p {
	font-family: "Helvetica";
	font-weight: lighter;
	color: #585858;
}

p.breadcrumbs {
	font-size: 1em;
	font-weight: lighter;
	color: #6E6E6E;

	margin-left: .25em;
	margin-top: .25em;
}

a.breadcrumbs {
	text-decoration: none;
}


.footnote {
	font-size: 1em;
	font-weight: 200;
	color: #6E6E6E;

	text-align: center;
}
