/* #id .class */

* {
	/* Universal CSS reset */
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
	font-family: "Helvetica";
	background: #FFFFFF;

	/*background-image:-webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#BDBDBD), to(#FFFFFF));
    background-repeat: no-repeat;*/
}

h1.banner {
	/*font-family: "Lucida Sans Unicode";*/
	font-size: 2.5em;
	font-weight: lighter;
	color: #585858;

	margin-top: .8em;

	text-align: center;
}

h2 {
	font-size: 2em;
	font-weight: lighter;
	color: #000000;

	text-align: center;
}

h3 {
	font-weight: lighter;
	font-size: 1.5em;

	margin-top: .7em;
	margin-left: .7em;
	margin-bottom: .7em;
}

p {
	font-weight: lighter;
	color: #585858;
}

p.content {
    text-align: center;
}

p.breadcrumbs {
	font-size: 1em;
	font-weight: lighter;
	color: #6E6E6E;

	margin-left: .25em;
	margin-top: .25em;
}

#emphasis {
    font-size: 2em;
}

a.breadcrumbs {
	text-decoration: none;
}

img.pageLink {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footnote {
	font-size: 1em;
	font-weight: 200;
	color: #6E6E6E;

	text-align: center;
}
