/* #id .class */

* {
	/* Universal CSS reset */
	margin: 0;
	padding: 0;
}

.preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;   
}

body {
	font-size: 100%;
	font-family: "Helvetica";
	background: #FFFFFF;
    
    width: 100%;

	/*background-image:-webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#BDBDBD), to(#FFFFFF));
    background-repeat: no-repeat;*/
}

h1.banner, h1.bannerCommon, h1.bannerHome {
	/*font-family: "Lucida Sans Unicode";*/
	font-size: 2.5em;
	font-weight: lighter;
	color: #585858;

	text-align: center;
}

h1.bannerCommon {
    margin-top: 0em;
}

h1.bannerHome {
    margin-top: .8em;
}

h2 {
	font-size: 2em;
	font-weight: lighter;
	color: #000000;

	text-align: center;
}

h3 {
	font-weight: lighter;
	font-size: 1.5em;

	margin-top: .7em;
	margin-left: .7em;
	margin-bottom: .7em;
}

h4 {
	font-size: 1.2em;
	font-weight: lighter;
	color: #585858;

	margin-left: 1em;
}

p {
	font-weight: lighter;
	color: #585858;
}

p.content {
    text-align: center;
}

p.content2 {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

p.topicLinks {
	font-size: 1em;
	font-weight: lighter;
	color: #6E6E6E;
	text-decoration: none;

	display: inline;
}

a.topicLinks {
	text-decoration: none;
}

a.noDecoration {
	text-decoration: none;
	color: #585858;
}

a.lightDecoration {
	color: #0F17AA; /*#585858;*/
}

font.emphasis {
    font-size: 1.1em;
	font-style: italic;
	color: #090909; /*#131313;*/
}

ul {
	font-size: 1.2em;
	font-weight: lighter;
	color: #6E6E6E;
	

	margin-left: 2em;
}

li {
	margin-bottom: .5em;
}

li.centered {
	text-align: center;
	list-style-position: inside;
}
img.pageLink {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.regular {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.regularLeft {
    margin-left: .7em;
}

figcaption {
	margin-top: .3em;
	text-align: center;

	color: #6E6E6E;
}

figcaption.examples {
	margin-bottom: 1em;
}

.footnote {
	font-size: 1em;
	font-weight: 200;
	color: #6E6E6E;

	text-align: center;
}

div.head {
    position: fixed;
    margin: 0, auto, 0, auto;
    z-index: 10;
    width: inherit;
    
    background: #FFFFFF;
}

table.content {
    position: absolute;
    top: 120px;
}
