#css-sprite-higherEducation02
{
  background-position: 0px -0px;
  background:url('../images/Page2/css-sprite-combined.2.png') 0px -0px;
  width:200px;height:200px;
  /*display:inline-block;*/
}

#css-sprite-projects03
{
background-position: -200px -0;
background:url('../images/Page2/css-sprite-combined.2.png') -200px -0px;
width:200px;height:200px;
/*display:inline-block;*/
}

#css-sprite-triathlon
{
background-position: -400px -50;
background:url('../images/Page2/css-sprite-combined.2.png') -400px -50px;
width:150px;height:150px;
/*display:inline-block;*/
}

