body {
    font-size: 100%;
    background: #FF7519;
/*    #E6E6E6*/
}

/****SECTIONS****/
section {
    box-shadow: 0em 0em 4em #000;
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family:  Monaco, Menlo, Consolas, "Courier New", monospace;
    text-shadow: 2px 2px #000;
    color: #fff;
/*    background-color: #FF6600;*/
    background-color: #FF7519;
    
    min-height: 30em;
    min-width: 100%; 
    margin: 0 auto 0 auto;
    position: relative;
}

section#introWrapper {
/*
    background: url(../images/ShortStory/trees.jpg) no-repeat;       
    background-size: cover;
*/  
}
section#intro {
    background-attachment: fixed;
}

section#education {
    background: url(..//images/ShortStory/leaveNoDoubt.jpg) no-repeat fixed;
    background-size: cover;
/*    min-height: 50em;*/
}

section#skills {
/*    background: url(../images/ShortStory/trees.jpg) no-repeat scroll; */
}

section#hobbies {
    background: url(../images/ShortStory/macRow02.jpg) no-repeat fixed;
    background-position: 0% 100%;
    background-size: cover;
}

section#life {
/*
    background: url(../images/ShortStory/trees.jpg) no-repeat scroll;       
    background-size: cover;
*/
}

section#contact {
/*    friends02.jpg*/
    background: url(../images/ShortStory/friends03.jpg) no-repeat fixed;
    background-size: cover;
}

/****HEADINGS****/
h1 {
    font-size: 3em;
    color: floralwhite;
    
    text-align: center;
    position: absolute;
    top: 1em;
    width: 100%;
    margin-top: 0;
}

section#intro h1 {    
    font-weight: bolder;
    font-size: 3em;
}

h1.animate {    
    transition: color .5s;   
    -webkit-transition: color .5s;
}

h1.animate:hover {
    color: firebrick;
}

h2 {
    color: azure;   
    
    position: absolute;
    top: 50%;
    margin: 0 auto 0 auto;
    min-width: 100%;
    text-align: center;
}

section#intro h2 {    
    font-weight: normal;
    font-size: 2em;   
 }

section#education h2 {    
    color: #E5E5E5;
/*    color: #D5D5D5;*/
    font-size: 2em;
    background-color: rgba(213, 213, 213, 0.5);
 }

section#skills h2 {
    top: 30%;
    white-space: no-wrap;
}

div#hobbies h2, div#contact h2 {
    position: static;
    top: 0%;
}

/****IMAGES****/

img#engLogo {
    position: absolute;
    display: inline-block;
    top: 70%; 
    left: 45%;
    width: 6em;
    
    transition: width .5s;
}

img#engLogo:hover {
    width: 8em;
}

section#skills img {
    display: inline-block;
    margin: 0 2em 0 2em;
    
    transition: margin .5s;
    -webkit-transition: margin .5s;
}

section#skills img:hover {
    margin: 0 4em 0 4em;
}

/****DIVS****/
div {
    background-color: rgba(213, 213, 213, 0.5);
}

section#skills div#skillsImgs {    
    position: absolute;
    top: 60%;
    min-width: 100%;
    
    padding: 0 3em 0 3em;
    text-align: center;
}

div#hobbies {
    background-color: rgba(213, 213, 213, 0.8);
    
    position: absolute;
    top: 40%;
    min-width: 100%;
}

div#contact {
    background-color: rgba(213, 213, 213, 0.5);
    
    position: absolute;
    top: 40%;
    min-width: 100%;
}

/****OTHER****/
div#hobbies a {
    color: coral;
    text-decoration: none;
}

section#contact a {
    color: coral;
    text-decoration: none;
}

#introWrapper p {
    font-family:  Monaco, Menlo, Consolas, "Courier New", monospace;
    text-shadow: 2px 2px #000;
    color: #fff;   
    text-decoration: underline;
    
    position: absolute;
    margin: .5em 0 0 .5em;
    z-index: 1;
}