body {
    font-size: 100%;
    /*background: #FF7519;*/
    background: #D5D5D5;
    font-family:  Monaco, Menlo, Consolas, "Courier New", monospace;
    /*font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;*/
    /*background: #A6653A;*/
/*    #E6E6E6*/

    margin: 0 0 0 0;
	min-width: 100%;
}

/****SECTIONS****/
section {
    box-shadow: 0em 0em 4em #000;
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-family:  Monaco, Menlo, Consolas, "Courier New", monospace;*/
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    text-shadow: 2px 2px #000;
    color: #fff;
/*    background-color: #FF6600;*/
    /*background-color: #FF7519;*/
    background: rgba(213, 213, 213, 0.4);
    
    min-height: 30em;
    min-width: 100%; 
    margin: 0 auto 0 auto;
    position: relative;
}

section#introWrapper {
/*
    background: url(../images/ShortStory/trees.jpg) no-repeat;       
    background-size: cover;
*/  
}
section#intro {
    background-attachment: fixed;
}

section#education {
    background: url(..//images/ShortStory/leaveNoDoubt.jpg) no-repeat fixed;
    background-size: cover;
/*    min-height: 50em;*/
}

section#skills {
/*    background: url(../images/ShortStory/trees.jpg) no-repeat scroll; */
}

section#hobbies {
    /*background: url(../images/ShortStory/welland-row01.jpg) no-repeat fixed;*/
    background: url(../images/ShortStory/raceStart.jpg) no-repeat fixed;
    background-position: 0% 100%;
    background-size: cover;
}

section#contact {
/*    friends02.jpg*/
    background: url(../images/ShortStory/welland-crew01.jpg) no-repeat fixed;
    background-size: cover;
}

/****HEADINGS****/
h1 {
    font-size: 3em;
    color: floralwhite;
    
    text-align: center;
    position: absolute;
    top: 1em;
    width: 100%;
    margin-top: 0;
}

section#intro h1 {    
    font-weight: bolder;
    font-size: 3em;
}

h1.transition {
    transition: color .5s;   
}

h1.transition:hover {
    color: firebrick;
}

h2 {
    color: azure;   
    
    position: absolute;
    top: 50%;
    margin: 0 auto 0 auto;
    min-width: 100%;
    text-align: center;
}

section#intro h2 {    
    font-weight: normal;
    font-size: 2em;   
 }

section#education h2 {    
    color: #E5E5E5;
/*    color: #D5D5D5;*/
    font-weight: normal;
    font-size: 2em;
    background-color: rgba(213, 213, 213, 0.4);
 }

section#skills h2 {
    top: 30%;
    white-space: no-wrap;
    font-weight: normal;
    font-size: 2em;
}

section#life h2 {
/*
    background: url(../images/ShortStory/trees.jpg) no-repeat scroll;       
    background-size: cover;
*/
    font-weight: normal;
    font-size: 2em;
}


div#hobbies h2, div#contact h2 {
    position: static;
    top: 0%;
    font-size: 2em;
    font-weight: normal;
}

h2#loadingMesssage {    /****LOADING SCREEN****/
    color: firebrick;
    font-size: 4em;
    font-family: sans-serif;

    position: absolute;
    top: 40%;
    text-align: center;
    height: 100%;
    width: 100%;

    animation: slideIn .5s;
    -webkit-animation: slideIn .5s;
}

@-webkit-keyframes slideIn {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}
@keyframes slideIn {    /****LOADING SCREEN****/
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

/****IMAGES****/

img#engLogo {
    position: absolute;
    display: inline-block;
    top: 70%; 
    left: 45%;
    width: 6em;
    
    transition: width .5s;
}

img#engLogo:hover {
    width: 8em;
}

section#skills img {
    display: inline-block;
    margin: 0 2em 0 2em;
    
    transition: margin .5s;
}

section#skills img:hover {
    margin: 0 4em 0 4em;
}

/****DIVS****/
div {
    background-color: rgba(213, 213, 213, 0.5);
}

section#skills div#skillsImgs {    
    position: absolute;
    top: 60%;
    min-width: 100%;
    
    padding: 0 3em 0 3em;
    text-align: center;
}

div#hobbies {
    background-color: rgba(213, 213, 213, 0.8);
    
    position: absolute;
    top: 40%;
    min-width: 100%;
}

div#contact {
    background-color: rgba(213, 213, 213, 0.5);
    
    position: absolute;
    top: 40%;
    min-width: 100%;
}

div#loadingDiv {    /****LOADING SCREEN****/
    background-color: beige;

    position: fixed;
    z-index: 10;
    min-width: 100%;
    min-height: 100%;
}

div.loaded {    /****LOADING SCREEN****/
    animation: slideLoadingScreen .5s;
    animation-fill-mode: forwards;

    -webkit-animation: slideLoadingScreen .5s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slideLoadingScreen { /****LOADING SCREEN****/
    from{
        margin-top: 0%;
    }
    to{
        margin-top: 100%;
        opacity: 0;
    }
}
@keyframes slideLoadingScreen { /****LOADING SCREEN****/
    from{
        margin-top: 0%;
    }
    to{
        margin-top: 100%;
        opacity: 0;
    }
}

/****LINKS****/
div#hobbies a {
    color: coral;
    text-decoration: none;
}

section#contact a {
    color: coral;
    text-decoration: none;
}

/****OTHER****/
span.transition {
    transition: color .5s;
}

span.transition:hover {
    color: firebrick;
}

#introWrapper p {
    font-family:  Monaco, Menlo, Consolas, "Courier New", monospace;
    /*font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;*/
    text-shadow: 2px 2px #000;
    color: #fff;   
    text-decoration: underline;
    
    position: absolute;
    margin: .5em 0 0 .5em;
    z-index: 1;
}

span.loadingVisibilityToggle {    /****LOADING SCREEN****/
    visibility: hidden;
}

span.loadingColourToggle {    /****LOADING SCREEN****/
    animation: colourChange .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    -webkit-animation: colourChange .5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes colourChange {
    to{
        color: darksalmon;
    }
}
@keyframes colourChange {
    to{
        color: darksalmon;
    }
}
