#css-sprite-cLogo
{
background:url('../images/Skills/css-sprite-combined.png') 0px -340px;
width:55px;height:60px;
display:inline-block;
}

#css-sprite-cPlusPlus
{
background:url('../images/Skills/css-sprite-combined.png') -55px -340px;
width:60px;height:60px;
display:inline-block;
}

#css-sprite-engLogo
{
background:url('../images/Skills/css-sprite-combined.png') -115px -0px;
width:400px;height:400px;
display:inline-block;
}

#css-sprite-git
{
background:url('../images/Skills/css-sprite-combined.png') -515px -367px;
width:80px;height:33px;
display:inline-block;
}

#css-sprite-html-css-jv
{
background:url('../images/Skills/css-sprite-combined.png') -595px -300px;
width:170px;height:100px;
display:inline-block;
}

#css-sprite-java
{
background:url('../images/Skills/css-sprite-combined.png') -765px -340px;
width:33px;height:60px;
display:inline-block;
}

#css-sprite-linux
{
background:url('../images/Skills/css-sprite-combined.png') -798px -342px;
width:50px;height:58px;
display:inline-block;
}

#css-sprite-mac
{
background:url('../images/Skills/css-sprite-combined.png') -848px -338px;
width:60px;height:62px;
display:inline-block;
}

#css-sprite-mcmaster
{
background:url('../images/Skills/css-sprite-combined.png') -908px -320px;
width:145px;height:80px;
display:inline-block;
}

#css-sprite-photoshop
{
background:url('../images/Skills/css-sprite-combined.png') -1053px -350px;
width:51px;height:50px;
display:inline-block;
}

#css-sprite-sql
{
background:url('../images/Skills/css-sprite-combined.png') -1104px -320px;
width:80px;height:80px;
display:inline-block;
}

#css-sprite-tron
{
background:url('../images/Skills/css-sprite-combined.png') -1184px -290px;
width:110px;height:110px;
display:inline-block;
}

#css-sprite-windows
{
background:url('../images/Skills/css-sprite-combined.png') -1294px -346px;
width:60px;height:54px;
display:inline-block;
}

